.header {
  font-family: $primaryFontStyle;
  margin-top: 100px;
  text-align: center;
}

.titleContainer {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.h1 {
  font-size: $primaryH1FontSize;
  font-weight: bold;
  line-height: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  max-width: 65%;
  min-width: 60%;
}

.h1Colored {
  color: #8659d5;
}

.h2 {
  color: #aeadb0;
  font-size: 20px;
  margin-bottom: 30px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 60px;
  padding-bottom: 50px;
}

.searchInput {
  border-radius: 30px;
  flex-grow: 1;
  padding: 12px;
  height: 45px;
  font-size: 16px;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
}

.searchInput:hover {
  border: 2px solid #9b9a9a;
}

.searchInput:focus {
  border-color: rgb(91, 0, 189);
}

.searchInput::placeholder {
  color: #8e8e8e;
}

.searchBtn {
  background-color: rgb(136, 0, 255);
  border: 1px transparent;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  margin-left: 15px;
  transition: color 0.3s, border-color 0.3s;
  flex-shrink: 0;
  box-sizing: border-box;
}

.searchBtn:hover {
  background-color: rgb(91, 0, 189);
}

.searchBtn svg {
  width: 25px;
  height: 25px;
}
