@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");

.categoryListTitle {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  &::first-letter {
    text-transform: uppercase;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.categoriesPage {
  display: flex;
}

.sidebar {
  width: 300px;
}

.content {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
}
