.header {
  font-family: $primaryFontStyle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
  padding-left: 57px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 55px;
  border-bottom: 2px solid #edebeb;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  height: 41px;
  padding-right: 32px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  font-size: 19px;
  color: #333232;
}

.buttonLink {
  text-decoration: none;
  color: inherit;
}

.button:hover {
  text-decoration: underline;
}

.loginBtn {
  border-radius: 5px;
  background-color: #8128a7;
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.loginBtn:hover {
  background-color: #5012bd;
}

