// @import "../../../styles/Variables.module.scss";

.servicesList {
  // font-family: $primaryFontStyle;
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
  margin: 0 auto;
}

.error {
  color: red;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.noServices {
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.service {
  flex: 1 1 calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
}

.categoryHeader {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  min-height: 30px;
  text-transform: capitalize;
  text-align: left;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
