// @import "../../styles/Variables.module.scss";

.calendarContainer {
  // font-family: $primaryFontStyle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #000;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #ddd;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 400px;
  margin-bottom: 5px;
}

.dayOfWeek {
  text-align: center;
  color: grey;
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 400px;
  gap: 5px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: grey;
  color: white;
}

.weekday {
  color: grey;
}

.weekend {
  color: red;
}

.selected {
  background-color: #004d40;
  color: white;
}

.empty {
  visibility: hidden;
}
